<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<appSettings>
		<add key="BuyerService.serBuyer" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serBuyer.asmx"/>
		<add key="DayService.serDay" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serDay.asmx"/>
		<add key="GenderService.serGender" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serGender.asmx"/>
		<add key="MerchantTypeService.serMerchantType" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serMerchantType.asmx"/>
		<add key="MonthService.serMonth" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serMonth.asmx"/>
		<add key="ProductCategoryService.serProductCategory" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serProductCategory.asmx"/>
		<add key="YearService.serYear" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serYear.asmx"/>
		<add key="MerchantService.serMerchant" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serMerchant.asmx"/>
		<add key="ProductService.serProduct" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serProduct.asmx"/>
		<add key="ProductImageService.serProdctImage" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serProdctImage.asmx"/>
		<add key="ShippingType.serShippingType" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serShippingType.asmx"/>
		<add key="SellingLead.serSellingLead" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serSellingLead.asmx"/>
		<add key="ShippingCompanyService.serShippingCompany" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serShippingCompany.asmx"/>
	<add key="PaymentTypeService.serPaymentType" value="http://localhost:19548/MahaplastWebApp_19.9.2012/serPaymentType.asmx"/>
	</appSettings>
	<connectionStrings>
  <add name="ConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Mashaplast.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="Server=d4e1e593-8399-47f3-ba34-a12100a76a23.sqlserver.sequelizer.com;Database=dbd4e1e593839947f3ba34a12100a76a23;User ID=tbykarfkayrhpesz;Password=FhL25hiutpgaLkAxxj7KkAQaRzn4tse8xdJG866L3MfVHkUYFs4AkgTfyLjD4oab;"
   connectionString="Data Source=d4e1e593-8399-47f3-ba34-a12100a76a23.sqlserver.sequelizer.com;Initial Catalog=dbd4e1e593839947f3ba34a12100a76a23;Persist Security Info=True;User ID=tbykarfkayrhpesz;Password=FhL25hiutpgaLkAxxj7KkAQaRzn4tse8xdJG866L3MfVHkUYFs4AkgTfyLjD4oab"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
    <httpRuntime maxRequestLength="102400"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
