body {
}
.metro3gaProduct{display:block;background-color:#2d89f0;width:1002px;
height:445px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    margin-left:300px;
    margin-top:-550px;
}
.imagemetroprofilepicgaP
{
	margin-left:20px;
}