body {
}
.selectiondiv
{
   width:350px;
}
.wholecontainerdiv
{
    height: 1406px; 
    width: 1014px;
    margin-left:380px;
    margin-top:-500px;
}
.logogetaround
{
	height: 50px;
	width:50px;
    background-color:white;
    margin-top:-200px;
}
.logo
{
    margin-left:20px;
}
.divaround
{
    width:350px;
    height:380px;
}
.metro3getaround{display:block;width:302px;
height:320px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    /*background-color:#2d89f0;*/
}
.divaround2
{
    width:230px;
    height:380px;
    margin-left:310px;
    margin-top:-570px;	
}
.logo2
{
    margin-left:20px;
}

.metro3getaround2{display:block;width:180px;
height:320px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    /*background-color:rgb(227, 162, 26);*/
}
.divaround3
{
    width:544px;
    height:250px;
    margin-left:500px;
    margin-top:-207px;
}
.logo3
{
    margin-left:20px;
}
.metro3getaround3{display:block;background-color:#603cba;width:472px;
height:150px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    margin-top:100px;
    top:-58px;
}
.divaround4
{
    width:544px;
    height:250px;
}
.logo4
{
    margin-left:20px;
}
.metro3getaround4{display:block;width:492px;
height:150px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    /*background-color:#603cba;*/
}
.divaround5
{
    width:253px;
    height:250px;
    margin-left:500px;
    margin-top:-1065px;
}
.logo5
{
    margin-left:20px;
    margin-top:-770px;
}
.metro3getaround5{display:block;background-color:#c3325f;width:225px;
height:150px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    margin-top:-417px;
    top: -15px;
}

.divaround6
{
    width:853px;
    height:470px;
    margin-top:1650px;
}
.logo6
{
    margin-left:20px;
    margin-top:-700px;
    height: 54px;
    width: 52px;
}
.metro3getaround6{display:block;width:830px;
height:400px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    margin-top:-5px;
    /*background-color:#c3325f;*/
}
.divaround55
{
    width:253px;
    height:250px;
    margin-left:750px;
    margin-top:-770px;
}
.logo55
{
    margin-left:300px;
    margin-top:50px;
}
.metro3getaround55{display:block;background-color:#c3325f;width:225px;
height:150px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    margin-top:-417px;
    top: -15px;
}
.image3
{
   width:1000px;     
}
.image2
{
   width:490px;
   height:150px;     
}
.acttofcbk
{
    margin-left:30px;
   top:-1250px;
}