body
{	top: 0px;
	left: 0px;
	height: 340px;
}

.center_customer_textbox
{
	margin-left: 211px;
}

.detail_label
{
	width: 210px;
	float: left;
}
.save_color
{
    color: #1d60ff;
    text-decoration: none;
}

.back_button
{
	width: 60px;
	float: left;
}
.view_detail
{
	margin-left: 511px;
}
.save_Addressbutton
{
	margin-left: 420px;
}
.txtboxSearch
{
	margin-left: 0px;
}
.session_CN
{
	margin-left: 700px;
}
.cancelDef
{
	margin-left: -90px;
}

.image
{
	height: 150px;	
}

div.img
{
 margin:-90px;
 border:1px solid #0000ff;
 height:420px;
 width:180px;
 float:left;
 text-align:center;	
 margin-left:180px;
}

div.img img
{
 display:inline;
 margin:3px;
 border: 1px solid #ffffff;	
}

div.img a:hover img {border:1px solid #0000ff;}

div.desc
{
	text-align:center;
	font-weight:normal;
	width:120px;
	margin:2px;
}

.Mashaplast
{
	margin-left: 170px;
	margin-top:-28px;
}
.PayPal
{
    height:220px;
    width:180px;
}
.HomeMetro
{
   margin-left: 154px; 
   margin-top: -624px;
    height: 356px;
}

div.img2
{
 margin:-90px;
 border:1px solid #0000ff;
 height:180px;
 width:180px;
 float:left;
 text-align:center;	
 margin-left:180px;
}
.HomeMet
{
   height:120px;
}

/*Side navigation*/
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.sidenavediv
{
   margin-left:100px; 
}

/*Make carousal fix*/
.mkcarousalfix
{
    margin-left: 330px;
}
.regpercust
{
 margin-left: 50px;   
}
.CentertheMetro
{
  margin-top:100px;
  width:30px;
  margin-left: 150px;   
}
.PanelSelApp
{
   margin-right:300px;  
   margin-left:30px;  
}
.selectImage
{
  margin-left:200px;
  margin-top:-165px;  
}

.whoyouare
{
    color:#000000; 
    width: 300px;
	float: left;   
}
.signinonbuyer
{
    margin-left:400px;    
}

.buyeraccthomenav
{
    margin-left:27px;   
}

.detail_labelErr
{
	width: 655px;
	float: left;
}
.gridpict
{
  margin-left:300px;  
  margin-top:-550px; 
  width:1100px;
}
.imagetestingrid
{
   width:700px;
   height:300px;    
}