body
{	
}


.metro {height:auto;position:relative;overflow:hidden;width:10000px;}
.metro2{float:left;margin-right:75px;height:auto;width:960px;position:relative;}
.metro3{display:block;background-color:#2d89f0;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
     font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
}
.metro3bg_yellow{display:block;background-color:#2d89f0;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
}
.metro3bg_purple{display:block;background-color:#603cba;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
    
}
.metro3bg_greenLight{display:block;background-color:#99b433;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
}

.metro3_lilred{display:block;background-color:#bc1c48;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
}

.metro3_bluelight{display:block;background-color:rgb(68, 163, 170);width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
}

.metro3_orangedark{display:block;background-color:#d85237;width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
}

.metro33_yellow{display:block;background-color:rgb(227, 162, 26);width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 20pt;
    font-weight: 200;
}

.metro3_pinkdark{display:block;background-color:rgb(121, 24, 104);width:302px;
height:145px;
color:#fff;margin:5px;float:left;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
}

.metro4{position:absolute;bottom:10px;left:20px;width:32px;height:32px;}
.metro5{position:absolute;right:14px;
bottom:5px;font-size:12pt;font-weight:bold;
    width: 284px;
}
.metro6{text-align:left;margin-top:10px;margin-left:20px;margin-right:20px;font-size:12px;}
.gotop{margin-left: 300px;margin-top:-560px;
    height: 153px;
}
.metro6{padding:0px;}

.metro7withbackcolor{display:block;background-color:#2d89f0;width:397px;
height:150px;color:#fff;margin:5px;float:right;position:relative;cursor:pointer;overflow:hidden;text-decoration:none;position:relative;box-sizing:border-box;
    top: 0px;
    left: 12px;
}
.sideimage
{
    margin-left:1300px; 
    margin-top:-520px; 
    height:470px;
    width:300px;  
}


.imagemetroprofilepic
{
	height: 50px;
	width:50px;	
}
.advertimagediv
{
	margin-top:-270px;	
}
.advertimagediv1
{
	margin-top:160px;	
}
.imagemetroprofilepic2
{
	height: 395px;
	width:302px;
	margin-left:330px;
	margin-top:-690px;	
}
.imagemetroprofilepic3
{
	height: 399px;
	width:302px;
	margin-left:640px;
	margin-top:-708px;
}

.imagemetroprofilepic4
{
	height: 399px;
	width:302px;
	margin-left:950px;
	margin-top:-708px;	
}
.imagemetroprofilepic41
{
	height: 399px;
	width:302px;
	margin-left:950px;
}

.imagemetroprofilepic42
{
	height: 395px;
	width:302px;
	margin-left:630px;
	margin-top:-408px;
}

.imagemetroprofilepic43
{
	height: 395px;
	width:302px;
	margin-left:330px;
	margin-top:-408px;
}
